<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>Signup</h1>
        <form action="/" method="POST">
            <table>
                <tr>
                    <td><label for="user">Username</label></td>
                    <td><input name="username" type="text" id="user" value="{{ username }}" /></td>
                    <td>
                        {% if namerr %}
                            <span class='error'>{{ namerr }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">Password</label></td>
                    <td><input name ="password" type="password" id="pass" /></td>
                    <td>
                        {% if paserr %}
                            <span class='error'>{{ paserr }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label for="verif">Verify Password</label></td>
                    <td><input name ="verify" type="password" id="verif" /></td>
                    <td>
                        {% if vererr %}
                            <span class='error'>{{ vererr }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label for="email">Email (optional)</label></td>
                    <td><input name ="email" type="text" id="email" value="{{ email }}"/></td>
                    <td>
                        {% if mailerr %}
                            <span class='error'>{{ mailerr }}</span>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <input type ="submit" />
        </form>
    </body>
</html>